@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .activeItem {
        
    }

    .activeItem ul {
        opacity: 1;
        transition:.3s;
    }

    .activeItem > a {
        /* background: transparent; */
        transition: .3s;
    }

    .inactiveItem ul {
        opacity: 0;
        transition:.3s;
    }
}

html, body {
    font-family: 'Poppins', sans-serif;
}

